@media print {
    :root {
        --bg: #fff;
        --fg: #000;
        --card: #fff;
    }

    a {
        color: #000;
        text-decoration: underline;
    }

    .card {
        background: #fff;
        border: 1px solid #ddd;
    }

    .container {
        padding-bottom: 0;
    }
}